.row{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS8CIzTDBqAXYI-pNIb3acprLh2sQo5bTW_KQ&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbotron{
    background-color: aquamarine;
    text-align: center;
    color: coral;
}