.row{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIbCTVusVH9ksfS7QP8YXJisJXNugp-XcacQ&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.jumbotron{
    background-color: darkred;
    text-align: center;
    color: rgb(250, 178, 151);
}
form{
    color: black;
}
h4{
    color: black;
}
body{
    background-color: hsl(16, 60%, 95%);
}